*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#111827;
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
color:white;
text-decoration:none;
font-size:18px;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero h2{
color:#38bdf8;
margin-bottom:20px;
}

.hero p{
max-width:700px;
line-height:1.8;
font-size:20px;
margin-bottom:30px;
}

.hero a{
background:#38bdf8;
padding:15px 35px;
border-radius:10px;
text-decoration:none;
color:black;
font-weight:bold;
transition:.3s;
}

.hero a:hover{
transform:scale(1.05);
}
